language: generic

before_install:
  - sudo apt-get update --quiet
  - sudo apt-get install --quiet --yes openssh-server
  - mkdir -p ~/.ssh/
  - chmod u+rwx,go= ~/.ssh/
  - ssh-keygen -b 2048 -t rsa -f ~/.ssh/id_rsa -q -N ""
  - cp ~/.ssh/id_rsa.pub ~/.ssh/authorized_keys
  - chmod u+rw,go= ~/.ssh/authorized_keys
  - ssh-keyscan -t rsa localhost > ~/.ssh/known_hosts
  - chmod u+rw,go= ~/.ssh/known_hosts
  # Install dependencies for sample projects.
  ## Gradle, Maven.
  - sudo apt-get install openjdk-7-jdk --quiet --yes
  ## Rust.
  - sudo curl -sf -L https://static.rust-lang.org/rustup.sh | sh
  ## Go.
  - sudo apt-get install golang --quiet --yes
  ## Clang.
  - sudo apt-get install clang --quiet --yes
  ## GCC.
  - sudo apt-get install build-essential --quiet --yes
  ## Gradle Android.
  - sudo apt-get install lib32stdc++6 lib32z1
  - export ANDROID_HOME=/opt/android-sdk-linux && export ANDROID_SDK_FILE_NAME=android-sdk_r24.4.1-linux.tgz && export ANDROID_SDK_INSTALL_COMPONENT="echo \"y\" | \"$ANDROID_HOME\"/tools/android update sdk --no-ui --all --filter"
  - mkdir -p "$ANDROID_HOME" && curl https://dl.google.com/android/$ANDROID_SDK_FILE_NAME --progress-bar --location --output $ANDROID_SDK_FILE_NAME && tar -xzf $ANDROID_SDK_FILE_NAME --directory /opt/
  - "$ANDROID_HOME"/tools/android list sdk --all --no-ui --extended
  - eval $ANDROID_SDK_INSTALL_COMPONENT "tools"
  - eval $ANDROID_SDK_INSTALL_COMPONENT "platform-tools"
  - eval $ANDROID_SDK_INSTALL_COMPONENT "build-tools-25.0.2"
  - eval $ANDROID_SDK_INSTALL_COMPONENT "android-25"
  - mv ~/.bashrc ~/.bashrc_original && echo -e "export ANDROID_HOME=$ANDROID_HOME" > ~/.bashrc && cat ~/.bashrc_original >> ~/.bashrc && rm ~/.bashrc_original

script:
  - bash test/test.sh --run-samples

notifications:
  email: false
