language: generic

before_install:
  - sudo apt-get update --quiet
  - sudo apt-get install --quiet --yes openssh-server
  - mkdir -p ~/.ssh/
  - chmod u+rwx,go= ~/.ssh/
  - ssh-keygen -b 2048 -t rsa -f ~/.ssh/id_rsa -q -N ""
  - cp ~/.ssh/id_rsa.pub ~/.ssh/authorized_keys
  - chmod u+rw,go= ~/.ssh/authorized_keys
  - ssh-keyscan -t rsa localhost > ~/.ssh/known_hosts
  - chmod u+rw,go= ~/.ssh/known_hosts
  # Install dependencies for sample projects.
  ## Gradle, Maven.
  - sudo apt-get install openjdk-7-jdk --quiet --yes
  ## Rust.
  - sudo curl -sf -L https://static.rust-lang.org/rustup.sh | sh
  ## Go.
  - sudo apt-get install golang --quiet --yes
  ## Clang.
  - sudo apt-get install clang --quiet --yes
  ## GCC.
  - sudo apt-get install build-essential --quiet --yes
  ## Buck.
  - sudo apt-get install ant python git
  - git clone https://github.com/facebook/buck.git
  - cd buck
  - git checkout v2016.11.11.01
  - ant
  - sudo cp bin/buck /usr/local/bin/
  - cd ..

script:
  - bash test/test.sh --run-samples

notifications:
  email: false
